<div fxLayout="row">
    <mat-card class="card" style="width: 100% !important;">
        <!--<mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">-->
            <!--<h3>Antiograma</h3>-->
        <!--</mat-card-title>-->
        <!--<mat-card-content>-->
            <div fxLayout="row">
                <div fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="Procurar por" (input)="onQuickFilterChanged($event)"
                               id="quickFilter">
                    </mat-form-field>
                </div>
                <div fxFlex="12" align="ringth">
                    <button mat-mini-fab (click)="openFileDialog()">
                        <mat-icon aria-label="">add</mat-icon>
                    </button>
                    <button mat-mini-fab>
                        <mat-icon aria-label="">print</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon aria-label="">help_outline</mat-icon>
                    </button>
                </div>
            </div>

            <ag-grid-angular style="width: 100%; height: 100%"
                             class="ag-theme-balham"
                             [defaultColDef]="defaultColDef"
                             [rowSelection]="'multiple'"
                             [gridOptions]="gridOptions"
                             [columnDefs]="columnDefs"
                             [localeText]="language"
                             [rowData]="rowData"
                             [allowContextMenuWithControlKey]="true"
                             [enableRangeSelection]="true"
                             [enableColResize]="true"
                             [rowDragManaged]="true"
                             [gridAutoHeight]="true"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [animateRows]="true"
                             [pagination]="true"
                             [sideBar]="true"
                             [rowHeight]="33"
                             [paginationPageSize]="15"
                             (selectionChanged)="onSelectionChanged($event)"
                             (rowClicked)="onRowClicked($event)"
                             (gridReady)="onGridReady($event)">
            </ag-grid-angular>


            <!--<button mat-raised-button color="primary" data-action-type='editar'>-->
            <!--Editar-->
            <!--</button>-->
            <!--<button mat-raised-button color="primary" data-action-type='deletar'>-->
            <!--Deletar-->
            <!--</button>-->

        <!--</mat-card-content>-->
    </mat-card>
</div>


<!-- APRESENTAÇÃO DO FORMULÁRIO DE CADASTRO -->
<!--<h1 mat-dialog-title>{{data}}</h1>-->
<div mat-dialog-content>
    <form class="example-form"> <!-- (ngSubmit)="onSubmit()" -->
        <!--<mat-form-field>-->
            <!--<input matInput placeholder="Antiograma" type="text" required [(ngModel)]="blogPost.title" name="name">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
            <!--<textarea matInput placeholder="Post Body" required [(ngModel)]="blogPost.body" name="body"></textarea>-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
            <!--<mat-select matInput placeholder="Post Category" required [(ngModel)]="blogPost.category" name="category">-->
                <!--<mat-option *ngFor="let cat of categories" [value]="cat.value">-->
                    <!--{{ cat.viewValue }}-->
                <!--</mat-option>-->
            <!--</mat-select>-->
        <!--</mat-form-field>-->
        <button mat-raised-button type="submit" color="primary">{{Save | translate}}</button>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button class="close" (click)="onNoClick()" color="warn">{{Cancel | translate}}</button>
</div>
