.rectangle {
  height: 423px;
  width: 969px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.26);
}

.breadcrumb {
  height: 77px;
  width: 969px;
  background-color: #ffe0cc;
}
