.rectangle {
  height: 423px;
  width: 969px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, 0.26);
}

.breadcrumb {
  height: 77px;
  width: 969px;
  background-color: #ffe0cc;
}

.rectangleInfo {
	box-sizing: border-box;
	height: 51px;
	width: 534px;
	border: 1px solid #D8D8D8;
	border-radius: 2px;
	background-color: #c5c5c5 !important;
}
