<mat-card>
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <h3>{{'Disparo de push'|translate}}</h3>
            </div>
            <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
        <form [formGroup]="formulario" (ngSubmit)="submit(formulario)">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Selecione um estado *</mat-label>
                        <mat-select name="state" [(value)]="selectedState" placeholder="UF">
                            <mat-option *ngFor="let s of states" [value]="s.abbreviation"
                                        (onSelectionChange)="selectedStateLoadCitys(s.abbreviation)">
                                {{s.abbreviation}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Selecione uma cidade *</mat-label>
                        <mat-select name="city" [(value)]="citySelected" placeholder="Cidade" #city>
                            <mat-option *ngFor="let c of citys; let x = index" [value]="c"
                                        (onSelectionChange)="selectedCity(c)">
                                {{c}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Mensagem para o push *</mat-label>
                        <textarea style="height: 120px" formControlName="message" matInput
                                  placeholder="Mensagem para o push *"></textarea>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                    <mat-dialog-actions>
                        <button mat-button type="submit" name="push" class="btn-salvar">Disparar push</button>
                        <button mat-button (click)="limpar()">Limpar</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>

    <div class="gene-card-footer rectangleInfo">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <!--                <b>Atenção:</b> o período para uso do valor pelo sorteado tem duração de {{dayExpirationCredit}} dias.-->
            </div>
            <span fxFlex></span>
        </div>
    </div>
</mat-card>

