<mat-card>
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <h3>{{'Recarga de créditos'|translate}}</h3>
            </div>
            <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
        <form [formGroup]="frmNewCredit" (ngSubmit)="submit(frmNewCredit)">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Valor da recarga*</mat-label>
                        <input formControlName="vlrNewCredit" matInput type="numeric"
                               placeholder="Valor da recarga">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                    <mat-form-field class="full-wid" appearance="outline">
                        <mat-label>Forma de pagamento*</mat-label>
                        <mat-select formControlName="formOfPayment" [(value)]="selectedPayment"
                                    placeholder="Forma de pagamento">
                            <mat-option *ngFor="let n of methodPayment" [value]="n.value">
                                {{n.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                    <mat-dialog-actions>
                        <button mat-button (click)="dialogNewCredit.close()">Cancelar</button>
                        <button mat-button type="submit" name="cancelar">Confirmar</button>
                    </mat-dialog-actions>
                </div>
            </div>
        </form>
    </div>
<!--    <pre>{{frmNewCredit.value | json}}</pre>-->
</mat-card>

