
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cart-item{
   .content-wrap{
      font-size: 0.85rem;
   }
}

.mat-list-item :hover {
  background-color: #ffe0cc;
}

.mat-icon {
  color: #D5652B !important;
  transform: scale(1.5);
  height: 24px;
  width: 24px;
  margin-left: 0px
}
