<ng-container *ngIf="coreService.horizontalStatus && coreService.horizontalSizeStatue; else verticalLayout">
    <ms-horizontal-layout></ms-horizontal-layout>
</ng-container>

<ng-template #verticalLayout>
    <div id="main-app" class="app {{isSidebarFilterClass}} {{isHeaderFilterClass}}" [dir]="layout"
         [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar,
         'customizer-in': customizerIn}"
         [class.side-panel-opened]="coreService.sidenavOpen" [class.side-panel-closed]="!coreService.sidenavOpen">
        <mat-sidenav-container class="gene-container">
            <mat-sidenav #sidenav [(mode)]="coreService.sidenavMode" [(opened)]="coreService.sidenavOpen"
                         class="sidebar-area">
                <div class="sidebar-panel gene-sidenav" fxLayout="column">
                    <mat-toolbar class="sidebar-logo gene-header-toolbar"
                                 style="padding-top: 10px; background-color: #d5652b">
                        <div class="gene-logo">
                            <a href="javascript:void(0)" [routerLink]="['/dashboard/saas']">
                                <div class="logo-sign inline-block">
                                    <img src="../../assets/img/brand/logo-full-alt.svg" width="90%" height="75px">
                                </div>
                            </a>
                        </div>
                    </mat-toolbar>
                    <perfect-scrollbar style="background-color: white">
                        <div class="sidebar-container">
                            <div class="gene-user-thumb text-center">
                                <!--                                <div class="img-responsive">-->
                                <!--                                    <span class="gene-user-name gene-block">{{name | uppercase}}</span>-->
                                <!--                                </div>-->
                                <div class="sidenav-scrollbar-container" fxLayout="column">
                                    <mat-nav-list fxLayout="column" menuToggleDirective class="navigation"
                                                  style="color: #615d5a">
                                        <!--                                        <mat-divider></mat-divider>-->
                                        <!-- Monta o menu com base no menu-items.ts -->

                                        <mat-list-item menuToggleLink *ngFor="let menuitem of menuItems.getAll()"
                                                       class="rectangle">
                                            <a menuToggle class="gene-relative" style="color: #615d5a"
                                               *ngIf="menuitem.type === 'button'" routerLinkActive="active-link"
                                               (click)="changeLayout()">
                                                <mat-icon
                                                        style="height: 24px; width: 24px;">{{ menuitem.icon }}</mat-icon>

                                                <span>{{ menuitem.name | translate }}</span>
                                                <ng-container *ngIf="menuitem?.label">
                                                    <span class="sidebar-label">{{ menuitem?.label}}</span>
                                                </ng-container>
                                            </a>

                                            <a menuToggle class="gene-relative" mat-ripple style="color: #615d5a"
                                               [routerLink]="['/',menuitem.state]" routerLinkActive="active"
                                               *ngIf="menuitem.type === 'link'">
                                                <mat-icon *ngIf="menuitem.name !== 'Sweepstakes'"
                                                          style="height: 24px; width: 24px;">{{ menuitem.icon}}</mat-icon>
                                                <mat-icon *ngIf="menuitem.name == 'Sweepstakes'" svgIcon="sorteios"
                                                          style="height: 24px; width: 24px;"></mat-icon>
                                                <mat-icon *ngIf="menuitem.name == 'Reclamações'" svgIcon="reclamacoes"
                                                          style="height: 24px; width: 24px; margin-left: -34px"></mat-icon>
                                                <mat-icon *ngIf="menuitem.name == 'Cities'" svgIcon="pin"
                                                          style="height: 24px; width: 24px; margin-left: -34px"></mat-icon>
                                                <mat-icon *ngIf="menuitem.name == 'Peoples'" svgIcon="pessoas"
                                                          style="height: 24px; width: 24px; margin-left: -34px"></mat-icon>
                                                <mat-icon *ngIf="menuitem.name == 'Push'" svgIcon="push"
                                                          style="height: 24px; width: 24px; margin-left: -34px"></mat-icon>

                                                <span>{{menuitem.name | translate }}</span>
                                                <ng-container *ngIf="menuitem?.label">
                                                    <span class="sidebar-label">{{ menuitem?.label}}</span>
                                                </ng-container>
                                            </a>

                                            <a menuToggle class="gene-relative" mat-ripple href="javascript:;"
                                               *ngIf="menuitem.type === 'sub'">
                                                <mat-icon style="height: 24px; width: 24px;"
                                                          svgIcon="{{menuitem.icon}}"></mat-icon>

                                                <span>{{ menuitem.name | translate }}</span>
                                                <ng-container *ngIf="menuitem.label">
                                                    <span class="sidebar-label">{{ menuitem.label}}</span>
                                                </ng-container>
                                                <span fxFlex></span>
                                                <mat-icon class="menu-caret">chevron_right</mat-icon>
                                            </a>
                                            <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                                                <mat-list-item *ngFor="let childitem of menuitem.children"
                                                               routerLinkActive="open">
                                                    <a [routerLink]="['/',childitem.state]"
                                                       routerLinkActive="active-link" class="gene-relative" mat-ripple>
                                                        {{ childitem.name | translate }}
                                                        <ng-container *ngIf="childitem.label">
                                                            <span class="sidebar-label">{{childitem.label}}</span>
                                                        </ng-container>
                                                    </a>
                                                </mat-list-item>
                                                <mat-divider></mat-divider>
                                            </mat-nav-list>
                                            <mat-divider></mat-divider>
                                        </mat-list-item>

                                        <!-- Sair -->
                                        <mat-list-item menuToggleLink>
                                            <a class="gene-relative" mat-ripple style="color: #615d5a"
                                               (click)="logOut()">
                                                <mat-icon svgIcon="sair"
                                                          style="height: 24px; width: 24px"></mat-icon>
                                                <span>{{'Get out' | translate }}</span>
                                            </a>
                                        </mat-list-item>
                                    </mat-nav-list>
                                </div>

                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </mat-sidenav>
            <mat-toolbar class="gene-header-toolbar" style="background-color: #d5652b">
                <div class="gene-ham-icon" tourAnchor="start.tour">
                    <!-- TODO: toggleSidebar-->
                    <button style="background-color: white" mat-mini-fab mat-card-icon (click)="toggleSidebar()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <a class="navbar-brand" href="#">{{header}}</a>
                <breadcrumb class="gene-breadcrumbs"></breadcrumb>
                <span fxFlex></span>
                <div class="secondary-menu">
                    <button fxHide="true" fxHide.gt-sm="false" mat-button class="fullscreen-toggle"
                            (click)="toggleFullscreen()" tourAnchor="tour-full-screen">
                        <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
                        <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
                    </button>
                    <span style="color: white">
                        <h6> {{name}}</h6>
                        <h6> {{email}}</h6>
                    </span>

                    <button class="user-button" mat-button [matMenuTriggerFor]="menu">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <!--                            <div class="img-responsive">-->
                            <!--                                <span class="gene-user-name gene-block" style="color: white">{{name | uppercase}}</span>-->
                            <!--                            </div>-->
                            <img *ngIf="image" src="{{image}}" width="100%" height="100%">
                            <img *ngIf="!image" src="../../assets/img/avatar-default.svg" width="100%" height="100%">
                        </div>
                    </button>
                    <!--                    <ms-language-drop-down></ms-language-drop-down>-->
                </div>
            </mat-toolbar>

            <div class="gene-base-container" #container>
                <div class="inner-container">
                    <router-outlet (activate)="onActivate($event, container)"></router-outlet>
                </div>
            </div>
        </mat-sidenav-container>
        <mat-menu class="user-menu" x-position="before" y-position="below" #menu="matMenu">
        </mat-menu>
    </div>
</ng-template>
