<form [formGroup]="formulario" (ngSubmit)="submit(formulario)">
    <!-- TAB INFORMAÇÕES GERAIS -->
<!--    <mat-tab-group>-->
<!--        <mat-tab label="Configuração">-->
            <mat-card>
                <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="start left">
                        <div fxLayout="column">
                            <h3>{{'Ajuste de precificação ' |translate}} </h3> <!--{{config}}-->
                        </div>
                        <span fxFlex></span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <div class="gene-card-content">
                    <div fxLayout="row" fxLayoutAlign="start left" class="div2" fxLayout.xs="column">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Tabela por KM Ativa*</mat-label>
                            <mat-select formControlName="settingPerKmName" [(ngModel)]="selectedSettingKm"
                                        placeholder="Config. de Km">
                                <mat-option *ngFor="let n of kmSettingStatusList" [value]="n.id">
                                    {{n.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>Tabela por hora Ativa*</mat-label>
                            <mat-select formControlName="settingPerHourName" [(ngModel)]="selectedSettingHr"
                                        placeholder="Config. de Hora">
                                <mat-option *ngFor="let n of hrSettingStatusList" [value]="n.id">
                                    {{n.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-dialog-actions>
                    <button mat-button type="submit" class="btn-salvar">Salvar</button>
                </mat-dialog-actions>
            </mat-card>
<!--        </mat-tab>-->
<!--    </mat-tab-group>-->
</form>
