.btn-circle-status-finish {
    width: 10px;
    height: 10px;
    padding: 6px 0px;
    border-width: 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #40d54a
}

.btn-circle-status-pending {
    width: 10px;
    height: 10px;
    padding: 6px 0px;
    border-width: 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #d52022
}
